@import "modern-normalize/modern-normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import "./utils/variables";

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

h1 {
  size: 40px;
  line-height: 40px;
}

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  size: 16px;
  line-height: 26px;
}
